/* Container styling */
.about-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading styling */
.about-container h1, .about-container h2 {
    color: #333;
    text-align: center;
}

.about-container h1 {
    font-size: 2.5em;
    
}

.about-container h2 {
    font-size: 2em;
    margin-top: 45px;
    margin-bottom: 25px;
}

/* Paragraph styling */
.about-container p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
    text-align: center;
}

/* Feature cards styling */
.feature-cards {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-card h3 {
    color: var(--jet);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 1em;
    color: #666;
}

/* Team cards styling */
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.team-card p {
    font-size: 1em;
    color: #666;
}

.team-card a {
    color: var(--jet);
    text-decoration: none;
}

.team-card a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Image styling */
.photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.photo img {
    width: 100px;
    height: auto;
}