/* User list styles */
.users-title {
    text-align: center;
}

.users-subtitle {
    text-align: center;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.user-list-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white-smoke-hsl);
    border: 1px solid var(--french-gray);
}

.user-link {
    text-decoration: none;
    color: var(--jet);
    font-weight: bold;
}

.user-link:hover {
    text-decoration: none;
}

/* User detail styles */
.user-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--french-gray);
    border-radius: 8px;
    background-color: var(--white-smoke-hsl);
}

.user-detail h1 {
    margin-bottom: 20px;
}

.user-detail p {
    margin: 10px 0;
}

.ban-form, .unban-form {
    display: inline-block;
    margin-right: 10px;
}