<<<<<<< HEAD
/* Container for the whole page */
.solver-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container for just the grid solver */
.grid-container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--mimi-pink);
=======
/* Center the grid page and style it */
.grid-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--french-gray);
>>>>>>> 0f9d042 (adding prompts with dropdown menus)
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD
/* Container for the player results */
.results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

/* Player card */
.player {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--jet);
}

/* Player card image */
.player img {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

/* Grid solver title styling */
.grid-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
=======
/* Grid page title styling */
.grid-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
>>>>>>> 0f9d042 (adding prompts with dropdown menus)
    color: var(--jet);
}

/* Container for all the prompts */
.prompts-container {
    display: flex;
}

/* Container for each prompt */
.prompt-container {
    align-items: center;
    width: 45%;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-color: var(--amaranth-pink);
=======
    background-color: var(--white-smoke-hsl);
>>>>>>> 0f9d042 (adding prompts with dropdown menus)
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD
/* Main dropdowns in each prompt */
.searchable-dropdown {
    width: 100%;
}

<<<<<<< HEAD
/* Subsequent dropdowns */
=======
>>>>>>> 117f0cf (Completing additional dropdowns with valid info)
.additional-dropdowns {
    width: 100%;
}

<<<<<<< HEAD
/* Each additional dropdown (Styling was made before multidropdowns were removed */
=======
>>>>>>> 117f0cf (Completing additional dropdowns with valid info)
.additional-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
/* Title for dropdown */
=======
>>>>>>> 117f0cf (Completing additional dropdowns with valid info)
.additional-dropdown h4 {
    color: var(--jet);
}

<<<<<<< HEAD
/* Search box styling */
=======
>>>>>>> 117f0cf (Completing additional dropdowns with valid info)
.additional-dropdown .searchable-dropdown,
.additional-dropdown select {
    width: 100%;
}

/* Ensure Select2 elements take full width */
.select2-container {
    width: 100% !important;
}

<<<<<<< HEAD
/* Styling for the numbers */
=======
>>>>>>> 117f0cf (Completing additional dropdowns with valid info)
.additional-dropdown .number-input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--french-gray);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
}

/* Get player button styling */
.submit-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--jet);
    background-color: var(--amaranth-pink);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--rose-pompadour)
}

/* Clear Players button styling */
.clear-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--jet);
    background-color: var(--red);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: var(--dark-red)
=======
.searchable-dropdown {
    width: 100%;
>>>>>>> 0f9d042 (adding prompts with dropdown menus)
=======
>>>>>>> 117f0cf (Completing additional dropdowns with valid info)
}