<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Sea Quail</title>
    {% endif %}
</head>
<body>
<nav class="navbar">
    <div class="navbar-links">
        {% if current_user.is_authenticated %}
            <a class="navbar-link {% if request.path == '/' %}navbar-link-active{% endif %}" href="{{ url_for('home_routes.home') }}">Home</a>
            {% if current_user.role == 'ADMIN' %}
                <a class="navbar-link {% if request.path == '/admin/users' %}navbar-link-active{% endif %}" href="{{ url_for('admin_routes.users') }}">Users</a>
            {% endif %}
            <a class="navbar-link" href="{{ url_for('home_routes.logout') }}">Logout</a>
            <a class="navbar-link {% if request.path == '/depth_chart' %}navbar-link-active{% endif %}" href="{{ url_for('depth_chart_routes.depth_chart') }}">Depth Chart</a>
        {% else %}
            <a class="navbar-link {% if request.path == '/signup' %}navbar-link-active{% endif %}" href="{{ url_for('home_routes.signup') }}">Sign Up</a>
            <a class="navbar-link {% if request.path == '/login' %}navbar-link-active{% endif %}" href="{{ url_for('home_routes.login') }}">Login</a>
        {% endif %}   
    </div>
</nav>
<hr></hr>
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>