{% extends "base.html" %}

{% block title %}
    Depth Chart for {{ teamID }} - {{ yearID }}
{% endblock %}

{% block content %}
    <h1>Depth Chart for {{ teamID }} - {{ yearID }}</h1>

    {% for position, players in depth_chart_data.items() %}
        <div class="position-box">
            <h2>{{ position }}</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Player ID</th>
                        <th>Position</th>
                        <th>Plate Appearances</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.playerID }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.plate_appearances }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

    <br>
    <a href="{{ url_for('home_routes.home') }}">Go Back</a>
{% endblock %}