{% extends "team_summary.html" %}

{% block title %}
    {% if teamName and yearID %}
        Depth Chart for {{ teamName }} - {{ yearID }}
    {% else %}
        Depth Chart
    {% endif %}
{% endblock %}

{% block content %}
    <h1>MLB Team Depth Chart</h1>

    <form method="POST">
        <div>
            {{ form.positionStats.label }} {{ form.positionStats() }}
        </div>
        <div>
            {{ form.pitcherStats.label }} {{ form.pitcherStats() }}
        </div>
        <button type="submit">Generate Depth Chart</button>
    </form>

    <!-- Display the depth chart only if data is available -->
    {% if depth_chart_data %}
        <h2>Depth Chart for {{ teamName }} - {{ yearID }}</h2>
        {% for position, players in depth_chart_data.items() %}
            <div class="position-box">
                <h2>{{ position }}</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Player ID</th>
                            <th>Statistic</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.playerID }}</td>
                                <!--<td>{{ player.statistic }}</td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>No depth chart data available for {{ teamName }} in {{ yearID }}.</p>
    {% endif %}
{% endblock %}