{% extends "base.html" %}

{% block content %}
<div class="history-container">
    <h1 class="section-title">Player Info</h1>

    {% if player %}
    <div class="player-info card">
        <div class="player-details">
            <h2 class="name">{{ player.nameFirst }} {{ player.nameLast }}</h2>
            <ul>
                {% if player.nameGiven %}
                <li><h3 class="name-given">Name Given: {{ player.nameGiven }}</h3></li>
                {% endif %}
                {% if player.bats %}
                <li><h3>Bats: {{ player.bats }}</h3></li>
                {% endif %}
                {% if player.throws %}
                <li><h3>Throws: {{ player.throws }}</h3></li>
                {% endif %}
                {% if player.height %}
                <li><h3>Height: {{ player.height }} inches</h3></li>
                {% endif %}
                {% if player.weight %}
                <li><h3>Weight: {{ player.weight }} pounds</h3></li>
                {% endif %}
                {% if player.birthYear and player.birthMonth and player.birthDay %}
                <li class="birth-info">
                    <h3>Born: {{ player.birthMonth }}/{{ player.birthDay }}/{{ player.birthYear }} in {{ player.birthCity }}, {{ player.birthState }}, {{ player.birthCountry }}</h3>
                </li>
                {% endif %}
                {% if player.deathYear %}
                <li class="death-info">
                    <h3>Died: {{ player.deathMonth }}/{{ player.deathDay }}/{{ player.deathYear }} in {{ player.deathCity }}, {{ player.deathState }}, {{ player.deathCountry }}</h3>
                </li>
                {% endif %}
                {% if player.debutDate %}
                <li><h3>Debut: {{ player.debutDate }}</h3></li>
                {% endif %}
                {% if player.finalGameDate %}
                <li><h3>Final Game: {{ player.finalGameDate }}</h3></li>
                {% endif %}
            </ul>
        </div>
        {% if photo %}
        <div class="player-photo-container">
        <a href="{{ link }}"><img class="player-photo" src="{{ photo }}" alt="Photo of {{ player.nameFirst }} {{ player.nameLast }}"></a>
        </div>
        {% endif %}
    </div>
    
    {% endif %}

    {% if awards %}
        <h2 class="table-title">Awards</h2>
        <table id="awards-table" class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Award</th>
                    <th>League</th>
                    <th>Tie</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for row in awards %}
                <tr class="awards-row">
                    <td>{{ row.yearID }}</td>
                    <td>{{ row.awardID }}</td>
                    <td><a href="{{ url_for('league_routes.get_league_standings', lgID=row.lgID, yearID=row.yearID) }}">{{ row.lgID }}</a></td>
                    <td>
                        {% if row.tie == 'y' or row.tie == 'Y' %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                    <td>{{ row.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if awards|length > 10 %}
            <button class="more-btn" type="awards">Show More</button>
        {% endif %}
    {% endif %}

    {% if appearances %}
        <h2 class="table-title">Appearances</h2>
        <table id="appearances-table" class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Team</th>
                    <th>G</th>
                    <th>GS</th>
                    <th>G_p</th>
                    <th>G_c</th>
                    <th>G_1b</th>
                    <th>G_2b</th>
                    <th>G_3b</th>
                    <th>G_ss</th>
                    <th>G_lf</th>
                    <th>G_cf</th>
                    <th>G_rf</th>
                    <th>G_of</th>
                    <th>G_dh</th>
                    <th>G_ph</th>
                    <th>G_r</th>
                </tr>
            </thead>
            <tbody>
                {% for row in appearances %}
                <tr class="appearances-row">
                    <td>{{ row.yearID }}</td>
                    <td><a href="{{ url_for('team_routes.get_team', teamID=row.teamID, yearID=row.yearID) }}">
                        {{ row.teamID }}
                    </a></td>
                    <td>{{ row.G_all }}</td>
                    <td>{{ row.GS }}</td>
                    <td>{{ row.G_p }}</td>
                    <td>{{ row.G_c }}</td>
                    <td>{{ row.G_1b }}</td>
                    <td>{{ row.G_2b }}</td>
                    <td>{{ row.G_3b }}</td>
                    <td>{{ row.G_ss }}</td>
                    <td>{{ row.G_lf }}</td>
                    <td>{{ row.G_cf }}</td>
                    <td>{{ row.G_rf }}</td>
                    <td>{{ row.G_of }}</td>
                    <td>{{ row.G_dh }}</td>
                    <td>{{ row.G_ph }}</td>
                    <td>{{ row.G_pr }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if appearances|length > 10 %}
            <button class="more-btn" type="appearances">Show More</button>
        {% endif %}
    {% endif %}

    {% if batting_stats %}
        <h2 class="table-title">Batting Stats</h2>
        <table id="batting-table" class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>G</th>
                    <th>PA</th>
                    <th>HR</th>
                    <th>SB</th>
                    <th>BB%</th>
                    <th>K%</th>
                    <th>ISO</th>
                    <th>BABIP</th>
                    <th>AVG</th>
                    <th>SLG</th>
                    <th>wOBA</th>
                    <th>wRC</th>
                </tr>
            </thead>
            <tbody>
                {% for row in batting_stats %}
                <tr class="batting-row">
                    <td>{{ row.yearID }}</td>
                    <td>{{ row.b_G }}</td>
                    <td>{{ row.b_PA }}</td>
                    <td>{{ row.b_HR }}</td>
                    <td>{{ row.b_SB }}</td>
                    <td>{{ row.b_BB_percent }}</td>
                    <td>{{ row.b_K_percent }}</td>
                    <td>{{ row.b_ISO }}</td>
                    <td>{{ row.b_BABIP }}</td>
                    <td>{{ row.b_AVG }}</td>
                    <td>{{ row.b_SLG }}</td>
                    <td>{{ row.b_wOBA }}</td>
                    <td>{{ row.b_wRC }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if batting_stats|length > 10 %}
            <button class="more-btn" type="batting">Show More</button>
        {% endif %}
    {% endif %}

    {% if pitching_stats %}
        <h2 class="table-title">Pitching Stats</h2>
        <table id="pitching-table" class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>G</th>
                    <th>GS</th>
                    <th>IP</th>
                    <th>K%</th>
                    <th>BB%</th>
                    <th>HR/9</th>
                    <th>BABIP</th>
                    <th>LOB%</th>
                    <th>ERA</th>
                    <th>FIP</th>
                </tr>
            </thead>
            <tbody>
                {% for leader in pitching_stats %}
                <tr class="pitching-row">
                    <td>{{ leader.yearID }}</td>
                    <td>{{ leader.p_G }}</td>
                    <td>{{ leader.p_GS }}</td>
                    <td>{{ leader.p_IP }}</td>
                    <td>{{ leader.p_K_percent }}%</td>
                    <td>{{ leader.p_BB_percent }}%</td>
                    <td>{{ leader.p_HR_div9 }}</td>
                    <td>{{ leader.p_BABIP }}</td>
                    <td>{{ leader.p_LOB_percent }}%</td>
                    <td>{{ leader.p_ERA }}</td>
                    <td>{{ leader.p_FIP }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pitching_stats|length > 10 %}
            <button class="more-btn" type="pitching">Show More</button>
        {% endif %}
    {% endif %}
    
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        function expandTable(table) {
            const showMoreBtn = table.nextElementSibling;
            if (showMoreBtn && showMoreBtn.classList.contains("more-btn") && showMoreBtn.textContent === "Show More") {
                showMoreBtn.click();
            }
        }

        // Sorting function
        function sortTable(table, column, asc = true) {
            expandTable(table);

            const dirModifier = asc ? 1 : -1;
            const tBody = table.tBodies[0];
            const rows = Array.from(tBody.querySelectorAll("tr"));

            // Sort each row
            const sortedRows = rows.sort((a, b) => {
                const aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
                const bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim();

                return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
            });

            // Remove all existing TRs from the table
            while (tBody.firstChild) {
                tBody.removeChild(tBody.firstChild);
            }

            // Re-add the newly sorted rows
            tBody.append(...sortedRows);

            // Remember how the column is currently sorted
            table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
            table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-asc", asc);
            table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-desc", !asc);
        }

        // Function to reset the table to its original order
        function resetTable(table) {
            const tBody = table.tBodies[0];
            const rows = Array.from(tBody.querySelectorAll("tr"));
            rows.sort((a, b) => a.dataset.index - b.dataset.index);

            // Remove all existing TRs from the table
            while (tBody.firstChild) {
                tBody.removeChild(tBody.firstChild);
            }

            // Re-add the rows in their original order
            tBody.append(...rows);

            // Remove sorting classes
            table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
        }

        // Attach event listeners to headers for pitching table
        document.querySelectorAll("#awards-table th").forEach(headerCell => {
            headerCell.dataset.sortState = "none"; // Initialize sort state

            headerCell.addEventListener("click", () => {
                const tableElement = headerCell.parentElement.parentElement.parentElement;
                const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                const currentSortState = headerCell.dataset.sortState;

                if (currentSortState === "none") {
                    sortTable(tableElement, headerIndex, true);
                    headerCell.dataset.sortState = "asc";
                } else if (currentSortState === "asc") {
                    sortTable(tableElement, headerIndex, false);
                    headerCell.dataset.sortState = "desc";
                } else {
                    resetTable(tableElement);
                    headerCell.dataset.sortState = "none";
                }
            });
            
        });

        // Attach event listeners to headers for pitching table
        document.querySelectorAll("#appearances-table th").forEach(headerCell => {
            headerCell.dataset.sortState = "none"; // Initialize sort state

            headerCell.addEventListener("click", () => {
                const tableElement = headerCell.parentElement.parentElement.parentElement;
                const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                const currentSortState = headerCell.dataset.sortState;

                if (currentSortState === "none") {
                    sortTable(tableElement, headerIndex, true);
                    headerCell.dataset.sortState = "asc";
                } else if (currentSortState === "asc") {
                    sortTable(tableElement, headerIndex, false);
                    headerCell.dataset.sortState = "desc";
                } else {
                    resetTable(tableElement);
                    headerCell.dataset.sortState = "none";
                }
            });
            
        });

        // Attach event listeners to headers for pitching table
        document.querySelectorAll("#batting-table th").forEach(headerCell => {
            headerCell.dataset.sortState = "none"; // Initialize sort state

            headerCell.addEventListener("click", () => {
                const tableElement = headerCell.parentElement.parentElement.parentElement;
                const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                const currentSortState = headerCell.dataset.sortState;

                if (currentSortState === "none") {
                    sortTable(tableElement, headerIndex, true);
                    headerCell.dataset.sortState = "asc";
                } else if (currentSortState === "asc") {
                    sortTable(tableElement, headerIndex, false);
                    headerCell.dataset.sortState = "desc";
                } else {
                    resetTable(tableElement);
                    headerCell.dataset.sortState = "none";
                }
            });
            
        });

        // Attach event listeners to headers for pitching table
        document.querySelectorAll("#pitching-table th").forEach(headerCell => {
            headerCell.dataset.sortState = "none"; // Initialize sort state

            headerCell.addEventListener("click", () => {
                const tableElement = headerCell.parentElement.parentElement.parentElement;
                const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                const currentSortState = headerCell.dataset.sortState;

                if (currentSortState === "none") {
                    sortTable(tableElement, headerIndex, true);
                    headerCell.dataset.sortState = "asc";
                } else if (currentSortState === "asc") {
                    sortTable(tableElement, headerIndex, false);
                    headerCell.dataset.sortState = "desc";
                } else {
                    resetTable(tableElement);
                    headerCell.dataset.sortState = "none";
                }
            });
            
        });

        // Show More/Less button functionality
        document.querySelectorAll(".more-btn").forEach(button => {
            button.addEventListener("click", () => {
                const type = button.getAttribute("type");
                const table = document.getElementById(`${type}-table`);
                const rows = table.querySelectorAll(`tr.${type}-row`);

                if (button.textContent === "Show More") {
                    rows.forEach(row => row.style.display = "");
                    button.textContent = "Show Less";
                } else {
                    rows.forEach((row, index) => {
                        if (index >= 10) row.style.display = "none";
                    });
                    button.textContent = "Show More";

                    const tableTop = table.getBoundingClientRect().top + window.scrollY;
                        if (window.scrollY > tableTop) {
                        table.scrollIntoView({ behavior: "auto", block: "start" });
                        window.scrollBy(0, -200);
                    }
                }
            });

            // Initially hide rows beyond the first 10
            const type = button.getAttribute("type");
            const table = document.getElementById(`${type}-table`);
            const rows = table.querySelectorAll(`tr.${type}-row`);
            rows.forEach((row, index) => {
                if (index >= 10) row.style.display = "none";
            });
        });

        document.querySelectorAll("table tbody tr").forEach((row, index) => {
            row.dataset.index = index;
        });
    });
</script>
{% endblock %}
