{% extends "base.html" %}

{% block content %}
<div class="stats-container">
    <div class="summary-form-container">
        {% if not teamName %}
            <h1>Team Summary</h1>
        {% endif %}
        <div class="summary-form">
            <form action="{{ url_for('home_routes.home') }}" method="POST">
                <input type="hidden" name="form_name" value="team_summary_form">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="summary-form-group">
                        {{ form.teamName.label(class="form-label") }}
                        {{ form.teamName(class="summary-form-control") }}
                    </div>
                    <div class="summary-form-group {% if not yearID %}none{% endif %}" id="year-group">
                        {{ form.yearID.label(class="form-label") }}
                        {{ form.yearID(class="summary-form-control") }}
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn form-row-submit" id="submit-btn" {% if not form.yearID.data %}disabled{% endif %}>Get Team Summary</button>
                </div>
            </form>
        </div>
    </div>

    {% if teamName %}
        <h1>{{teamName}} Team Summary</h1>
    {% endif %}

    {% if pitching_leaders %}
        <h2>Pitching Stats Leaders - {{ teamName }} - {{ yearID }}</h2>
        <table id="pitching-table" class="table table-striped" border="1">
            <thead>
                <tr>
                    <th id="p-name-header">Player Name</th>
                    <th>Age</th>
                    <th>ERA</th>
                    <th>FIP</th>
                    <th>K%</th>
                    <th>G</th>
                    <th>GS</th>
                    <th>IP</th>
                    <th>BB%</th>
                    <th>HR/9</th>
                    <th>BABIP</th>
                    <th>LOB%</th>
                    <!--<th>GB%</th>-->
                    <!--<th>xFIP</th>
                    <th>WAR</th>-->
                </tr>
            </thead>
            <tbody>
                {% for leader in pitching_leaders %}
                <tr>
                    <td><a href="https://www.baseball-reference.com/players/{{ leader.playerID[0] }}/{{ leader.playerID }}.shtml">
                        {{ leader.nameFirst }} {{ leader.nameLast }}
                    </a></td>
                    <td>{{ leader.age }}</td>
                    <td>{{ leader.p_ERA }}</td>
                    <td>{{ leader.p_FIP }}</td>
                    <td>{{ leader.p_K_percent }}%</td>
                    <td>{{ leader.p_G }}</td>
                    <td>{{ leader.p_GS }}</td>
                    <td>{{ leader.p_IP }}</td>
                    <td>{{ leader.p_BB_percent }}%</td>
                    <td>{{ leader.p_HR_div9 }}</td>
                    <td>{{ leader.p_BABIP }}</td>
                    <td>{{ leader.p_LOB_percent }}%</td>
                    <!--<td>{{ leader.p_GB_percent }}</td>-->
                    <!--<td>{{ leader.p_xFIP }}</td>
                    <td>{{ leader.p_WAR }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if batting_leaders %}
        <h2>Batting Stats Leaders - {{ teamName }} - {{ yearID }}</h2>
        <table id="batting-table" class="table table-striped" border="1">
            <thead>
                <tr>
                    <th id="b-name-header" >Player Name</th>
                    <th>Age</th>
                    <th>G</th>
                    <th>PA</th>
                    <th>HR</th>
                    <th>SB</th>
                    <th>BB%</th>
                    <th>K%</th>
                    <th>ISO</th>
                    <th>BABIP</th>
                    <th>AVG</th>
                    <th>SLG</th>
                    <th>wOBA</th>
                    <th>wRC</th>
                </tr>
            </thead>
            <tbody>
                {% for leader in batting_leaders %}
                <tr>
                    <td><a href="https://www.baseball-reference.com/players/{{ leader.playerID[0] }}/{{ leader.playerID }}.shtml">
                        {{ leader.nameFirst }} {{ leader.nameLast }}
                    </a></td>
                    <td>{{ leader.age }}</td>
                    <td>{{ leader.b_G }}</td>
                    <td>{{ leader.b_PA }}</td>
                    <td>{{ leader.b_HR }}</td>
                    <td>{{ leader.b_SB }}</td>
                    <td>{{ leader.b_BB_percent }}</td>
                    <td>{{ leader.b_K_percent }}</td>
                    <td>{{ leader.b_ISO }}</td>
                    <td>{{ leader.b_BABIP }}</td>
                    <td>{{ leader.b_AVG }}</td>
                    <td>{{ leader.b_SLG }}</td>
                    <td>{{ leader.b_wOBA }}</td>
                    <td>{{ leader.b_wRC }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if chart_form %}
        {% include "depth_chart.html" %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Initialize Select2 on the teamName select field
        $('select[name="teamName"]').select2({
            placeholder: "Select a team",
            allowClear: true
        });

        // Get the initial yearID value from the server-side context
        var initialYearID = "{{ yearID }}";

        // Function to populate the year select field
        function populateYearSelect(teamName, selectedYear) {
            var yearGroup = $('#year-group');
            var yearSelect = $('select[name="yearID"]');
            var submitBtn = $('#submit-btn');

            $.getJSON(`/get_years/${teamName}`, function(data) {
                yearGroup.show();
                yearSelect.empty().prop('disabled', false);
                yearSelect.append(new Option("Select a year", "", true, true)).prop('disabled', false);
                data.years.forEach(year => {
                    var option = new Option(year, year);
                    if (year == selectedYear) {
                        option.selected = true;
                    }
                    yearSelect.append(option);
                });
                submitBtn.prop('disabled', false);
            });
        }

        // Handle teamName change event to dynamically update yearID options
        $('select[name="teamName"]').on('change', function() {
            var teamName = $(this).val();
            if (!teamName) {
                $('#year-group').hide();
                $('select[name="yearID"]').empty().prop('disabled', true);
                $('#submit-btn').prop('disabled', true);
                return;
            }
            populateYearSelect(teamName, initialYearID);
        });

        // Ensure the year group is visible if a team is already selected
        var selectedTeam = $('select[name="teamName"]').val();
        if (selectedTeam) {
            populateYearSelect(selectedTeam, initialYearID);
        } else {
            $('#year-group').hide();
        }

        // Sorting function
        function sortTable(table, column, asc = true) {
            const dirModifier = asc ? 1 : -1;
            const tBody = table.tBodies[0];
            const rows = Array.from(tBody.querySelectorAll("tr"));

            // Sort each row
            const sortedRows = rows.sort((a, b) => {
                const aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
                const bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim();

                return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
            });

            // Remove all existing TRs from the table
            while (tBody.firstChild) {
                tBody.removeChild(tBody.firstChild);
            }

            // Re-add the newly sorted rows
            tBody.append(...sortedRows);

            // Remember how the column is currently sorted
            table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
            table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-asc", asc);
            table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-desc", !asc);
        }

        // Attach event listeners to headers for pitching table
        document.querySelectorAll("#pitching-table th").forEach(headerCell => {
            if (headerCell.id !== "p-name-header") {
                headerCell.addEventListener("click", () => {
                    const tableElement = headerCell.parentElement.parentElement.parentElement;
                    const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                    const currentIsAscending = headerCell.classList.contains("th-sort-asc");

                    sortTable(tableElement, headerIndex, !currentIsAscending);
                });
            }
        });

        // Attach event listeners to headers for batting table
        document.querySelectorAll("#batting-table th").forEach(headerCell => {
            if (headerCell.id !== "b-name-header") {
                headerCell.addEventListener("click", () => {
                    const tableElement = headerCell.parentElement.parentElement.parentElement;
                    const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                    const currentIsAscending = headerCell.classList.contains("th-sort-asc");

                    sortTable(tableElement, headerIndex, !currentIsAscending);
                });
            }
        });
    });
</script>
{% endblock %}
